.field {
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.button {
  flex-basis: 24%;
  margin: 1rem;
  border: 1px dashed dodgerblue;
  background-color: palegoldenrod;
  padding: .5rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.label {
  font-size: 18px;
}